{% extends '../template.html' %}

{% block content %}
  
<!-- HEADER -->
<header class="py-2 container fw-200">
  <h1> <i class="fas fa-cog"></i> Dashboard</h1>
</header>

<!-- TOTAL DE VEHICULOS Y USUARIOS -->
<section>
  <div class="py-4 container">
    <div class="row">
      <div class="col-md-6">
        <div class="card text-center bg-primary text-white mb-3">
          <div class="card-body">
            <h3>Vehículos</h3>
            <h4 class="display-4">
              <i class="fas fa-car-alt"></i> 10
            </h4>
            <a href="/privado/vehiculos" class="btn btn-outline-light btn-sm">Consultar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-center bg-info text-white mb-3">
          <div class="card-body">
            <h3>Usuarios</h3>
            <h4 class="display-4">
              <i class="fas fa-user"></i> 8
            </h4>
            <a href="/privado/usuarios" class="btn btn-outline-light btn-sm">Consultar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}