{% extends '../template.html' %}

{% block content %}

<!-- HEADER -->
<header class="py-2 container fw-200">
    <h1> <i class="fas fa-user"></i> Usuarios</h1>
</header>

<!-- LISTA USUARIOS -->
<section id="users">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Listado de Usuarios</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>NOMBRES</th>
                                <th>CORREO</th>
                                <th style="width: 15%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuarios %}
                            <tr>
                                <td>{{ usuario.nombres}}</td>
                                <td>{{ usuario.correo}}</td>
                                <td> <a href="/eliminarUsuario/{{ usuario._id.toString()}}" class="btn btn-danger"
                                        role="button"><i class="fas fa-trash-alt"></i> </a> </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}